* {
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


header h1 {
    font-size: 50px;
    text-align: center;
    padding: 15px;
    color: rgb(8, 182, 8);
    letter-spacing: 10px;
    word-spacing: 50%;
    padding: 40px;
    margin-bottom: 0px;
    background-attachment: fixed;

}

.position {
    background-image: url("./images/pexels-donald-tong-189296.jpg");
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #161A30;
    overflow: hidden;
    padding: 10px;
    display: flex;
}

nav a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    float: left;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
}

.flex-align {
    margin-left: auto;
}

.about h2 {
    text-align: center;
    font-size: 40px;
}

.about {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
}

.acc h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 20px;
}

.acc p {
    text-align: center;
    font-size: 20px;
}

.acc img {
    height: 500px;
    width: 650px;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}

.facilities h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 20px;
}

.facilities ul {
    list-style-type: armenian;
    font-size: 20px;
}

.act h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 20px;
}

.act p {
    text-align: center;
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.moving {
    text-align: center;
    font-size: 20px;
}

.moving a {
    text-decoration: none;
    font-weight: 900;
}



@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    .flex-align {
        margin-left: 0;
    }
}